# Determinação de atributos das quadras com densidade construtiva a partir de dados do IPTU, série total

In [1]:
import geopandas as gpd
import pandas as pd
import rasterio

## Carregando e pré-processando dados do IPTU

In [2]:
# Padrões de nomenclatura de usos

usos = {
    "apartamento em condomínio":"apartamento",
    "cortiço (habitação coletiva subnormal)":"cortiço",
    "escritório/consultório em condomínio (unidade autônoma)":"escritório ou consultório",
    "loja em edifício em condomínio (unidade autônoma)":"loja em edifício em condomínio",
    "residência coletiva, exclusive cortiço (mais de uma residência no lote)":"residência coletiva (mais de uma residência no lote), exclusive cortiço",
    "posto de serviço (combustíveis)":"posto de serviço",
    "estacionamento e garagem, não em condomínio":"garagem (exclusive em prédio em condomínio)",
    "garagem (unidade autônoma) de prédio de garagens":"garagem, em prédio de garagens",
    "garagem (unidade autônoma) em edifício em condomínio de escritórios, consultórios ou misto":"garagem em edifício de escritórios, consultórios ou misto",
    "garagem (unidade autônoma) em edifício em condomínio de uso exclusivamente residencial":"garagem em edifício de uso exclusivamente residencial",
    "outras edificações de uso coletivo, com utilização múltipla":"outras edificações do tipo (uso coletivo), com utilização múltipla",
    "outras edificações de uso comercial, com utilização múltipla":"outras edificações do tipo (uso comércio), com utilização múltipla",
    "outras edificações de uso de serviço, com utilização múltipla":"outras edificações do tipo (uso serviço), com utilização múltipla",
    "outras edificações de uso especial, com utilização múltipla":"outras edificações do tipo (uso especial), com utilização múltipla",
    "prédio com uso exclusivamente residencial, não em condomínio":"prédio de apartamento, não em condomínio, de uso exclusivamente residencial",
    "prédio com uso misto, predominância de uso não residencial, não em condomínio":"prédio de escritório, não em condomínio, de uso misto (apartamentos e escritórios e/ou consultórios) com ou sem loja (predominância comercial)",
    "prédio com uso misto, predominância de uso residencial, não em condomínio":"prédio de apartamento, não em condomínio, de uso misto (apartamentos e escritórios e/ou consultórios), com ou sem loja (predominância residencial)",
    "prédio de escritório ou consultório, com ou sem lojas, não em condomínio":"prédio de escritório ou consultório, não em condomínio, com ou sem lojas",
    "flat de uso comercial (semelhante a hotel)":"flat, não residencial",
    "flat residencial em condomínio":"flat, residencial"
}

In [3]:
df_iptu = pd.read_csv('IPTU/IPTU_2020.zip',\
             compression='zip',\
             encoding='iso-8859-9',\
             sep=';',\
             decimal=',',\
             error_bad_lines=False)

In [4]:
# Obter o SQ (Setor e Quadra)
df_iptu['setor'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:3]
df_iptu['quadra'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[3:6]

# Calculando chave 'SQ'
df_iptu['sq'] = \
df_iptu['setor'] + df_iptu['quadra']

# Normalizando o lote condominial
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] != '00', 'lote'] = '0000'
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'lote'] = \
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'NUMERO DO CONTRIBUINTE'].str[6:10]

# Individualizando a testada e pavimentos por lote (SQLC)
df_iptu['sqlc'] = df_iptu['setor'] + \
df_iptu['quadra'] + df_iptu['lote'] + \
df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

df_iptu['AREA CONSTRUIDA'] = pd.to_numeric(df_iptu['AREA CONSTRUIDA'], errors ='coerce')
df_iptu['AREA OCUPADA'] = pd.to_numeric(df_iptu['AREA OCUPADA'], errors ='coerce')
df_iptu['AREA DO TERRENO'] = pd.to_numeric(df_iptu['AREA DO TERRENO'], errors ='coerce')
df_iptu['FRACAO IDEAL'] = pd.to_numeric(df_iptu['FRACAO IDEAL'], errors ='coerce')
df_iptu['QUANTIDADE DE PAVIMENTOS'] = pd.to_numeric(df_iptu['QUANTIDADE DE PAVIMENTOS'], errors ='coerce')
df_iptu['TESTADA PARA CALCULO'] = pd.to_numeric(df_iptu['TESTADA PARA CALCULO'], errors ='coerce')

# Adequando variáveis à fração ideal
df_iptu['area_terreno'] = df_iptu['FRACAO IDEAL'] * df_iptu['AREA DO TERRENO']
df_iptu['area_ocupada'] = df_iptu['FRACAO IDEAL'] * df_iptu['AREA OCUPADA']

# Adequar os usos ao padrão estabelecido
df_iptu.loc[df_iptu['TIPO DE USO DO IMOVEL']\
            .isin(usos),\
            'TIPO DE USO DO IMOVEL'] = \
df_iptu[df_iptu['TIPO DE USO DO IMOVEL']\
             .isin(usos)]['TIPO DE USO DO IMOVEL']\
.apply(lambda x: usos[x])

## Carregando e pré-processando quadras

In [5]:
# Carregando geometria das quadras fiscais
gdf_quadras = gpd.GeoDataFrame.from_file(f'zip://GIS/SIRGAS_SHP_quadraMDSF.zip!SIRGAS_SHP_quadraMDSF')

In [6]:
gdf_quadras['sq'] = gdf_quadras.qd_setor + gdf_quadras.qd_fiscal

In [7]:
gdf_quadras = gdf_quadras.loc[gdf_quadras.qd_tipo == 'F'][['sq', 'geometry']].dissolve(by='sq')

In [8]:
# gdf_quadras.geometry = gdf_quadras.representative_point()

## Agregando e espacializando dado de densidade contruída

In [9]:
# Agregar por SQ e ANO DO EXERCICIO
iptu_agg = df_iptu[['sq', \
                    'AREA CONSTRUIDA',
                    'area_terreno']]\
.groupby('sq')\
.agg({'AREA CONSTRUIDA': 'sum',
     'area_terreno': 'sum'})\
.rename(columns = {'AREA CONSTRUIDA': 'area_construida'})

In [10]:
iptu_agg['densidade'] = iptu_agg['area_construida'] / iptu_agg['area_terreno']

In [11]:
iptu_agg

        area_construida  area_terreno  densidade
sq
001003            29926    21529.9343   1.389972
001004            20715    14196.1760   1.459196
001005            17263     9484.0000   1.820224
001006             7686     3453.9722   2.225264
001007            26067    14844.4308   1.756012
...                 ...           ...        ...
310116             1313     1273.0000   1.031422
310117            22601    17716.1264   1.275730
310118            25215    17934.5581   1.405945
310119                0    18500.0000   0.000000
310120                0    18926.0000   0.000000

[45494 rows x 3 columns]

In [12]:
# Gerando GeoDataFrame
gdf_iptu_agg = gdf_quadras.merge(iptu_agg, on='sq', how='right')

In [13]:
gdf_iptu_agg.drop(columns=['area_construida', 'area_terreno'])

                                                 geometry  densidade
sq
001003  POLYGON ((333415.056 7396354.502, 333412.306 7...   1.389972
001004  POLYGON ((333547.169 7396521.849, 333542.688 7...   1.459196
001005  POLYGON ((333559.635 7396520.416, 333574.733 7...   1.820224
001006  POLYGON ((333599.160 7396343.566, 333593.816 7...   2.225264
001007  POLYGON ((333689.258 7396305.230, 333688.459 7...   1.756012
...                                                   ...        ...
310116  MULTIPOLYGON (((332734.442 7383503.772, 332721...   1.031422
310117  MULTIPOLYGON (((333231.482 7383452.112, 333232...   1.275730
310118  POLYGON ((332710.926 7384374.222, 332722.074 7...   1.405945
310119  POLYGON ((333650.450 7384445.066, 333649.333 7...   0.000000
310120  MULTIPOLYGON (((333312.322 7383219.342, 333311...   0.000000

[45494 rows x 2 columns]

In [14]:
del df_iptu

In [15]:
del gdf_iptu_agg

## Gera raster densidade construtiva para cada ano

In [16]:
from pathlib import Path
import os

In [17]:
densidades = []

In [18]:
for path in Path('IPTU').rglob('*.zip'):
    print(path.name)
    
    # 1. Carregar dados do arquivo
    # OBS.: O IPTU de 2016 está separado por ',' e não por ';'
    if path.name == "IPTU_2016.zip":
        df_iptu = pd.read_csv(f'{path}',\
                     compression='zip',\
                     encoding='iso-8859-9',\
                     sep=',',\
                     decimal=',',\
                     error_bad_lines=False)
    else:
        df_iptu = pd.read_csv(f'{path}',\
                     compression='zip',\
                     encoding='iso-8859-9',\
                     sep=';',\
                     decimal=',',\
                     error_bad_lines=False)
        
    # Obter o SQ (Setor e Quadra)
    df_iptu['setor'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:3]
    df_iptu['quadra'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[3:6]

    # Calculando chave 'SQ'
    df_iptu['sq'] = \
    df_iptu['setor'] + df_iptu['quadra']

    # Normalizando o lote condominial
    df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] != '00', 'lote'] = '0000'
    df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'lote'] = \
    df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'NUMERO DO CONTRIBUINTE'].str[6:10]

    # Individualizando a testada e pavimentos por lote (SQLC)
    df_iptu['sqlc'] = df_iptu['setor'] + \
    df_iptu['quadra'] + df_iptu['lote'] + \
    df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

    df_iptu['AREA CONSTRUIDA'] = pd.to_numeric(df_iptu['AREA CONSTRUIDA'], errors ='coerce')
    df_iptu['AREA OCUPADA'] = pd.to_numeric(df_iptu['AREA OCUPADA'], errors ='coerce')
    df_iptu['AREA DO TERRENO'] = pd.to_numeric(df_iptu['AREA DO TERRENO'], errors ='coerce')
    df_iptu['FRACAO IDEAL'] = pd.to_numeric(df_iptu['FRACAO IDEAL'], errors ='coerce')
    df_iptu['QUANTIDADE DE PAVIMENTOS'] = pd.to_numeric(df_iptu['QUANTIDADE DE PAVIMENTOS'], errors ='coerce')
    df_iptu['TESTADA PARA CALCULO'] = pd.to_numeric(df_iptu['TESTADA PARA CALCULO'], errors ='coerce')

    # Adequando variáveis à fração ideal
    df_iptu['area_terreno'] = df_iptu['FRACAO IDEAL'] * df_iptu['AREA DO TERRENO']
    df_iptu['area_ocupada'] = df_iptu['FRACAO IDEAL'] * df_iptu['AREA OCUPADA']

    # Adequar os usos ao padrão estabelecido
    df_iptu.loc[df_iptu['TIPO DE USO DO IMOVEL']\
                .isin(usos),\
                'TIPO DE USO DO IMOVEL'] = \
    df_iptu[df_iptu['TIPO DE USO DO IMOVEL']\
                 .isin(usos)]['TIPO DE USO DO IMOVEL']\
    .apply(lambda x: usos[x])

    # Agregar por SQ e ANO DO EXERCICIO
    iptu_agg = df_iptu[['sq', \
                        'AREA CONSTRUIDA',
                        'area_terreno',
                        'area_ocupada',
                        'QUANTIDADE DE PAVIMENTOS',
                        'TESTADA PARA CALCULO']]\
    
    # Agregar por SQ e ANO DO EXERCICIO
    iptu_agg = df_iptu[['sq', \
                        'AREA CONSTRUIDA',
                        'area_terreno']]\
    .groupby('sq')\
    .agg({'AREA CONSTRUIDA': 'sum',
         'area_terreno': 'sum'})\
    .rename(columns = {'AREA CONSTRUIDA': 'area_construida'})
    
    # Calculando a densidade construtiva
    iptu_agg[f'{path.name[-8:-4]}'] = iptu_agg['area_construida'] / iptu_agg['area_terreno']
    
    # Removendo colunas sobressalentes
    densidades.append(iptu_agg.drop(columns=['area_construida', 'area_terreno']))
    
    # Gerando GeoDataFrame
    #gdf_iptu_agg = gdf_quadras.merge(iptu_agg, on='sq', how='right')

IPTU_2010.zip

b'Skipping line 2445507: expected 35 fields, saw 43\n'
/home/fernando/miniconda3/envs/geoplot/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,19,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

IPTU_1996.zip

/home/fernando/miniconda3/envs/geoplot/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

IPTU_2007.zip

b'Skipping line 2417712: expected 35 fields, saw 43\n'

IPTU_2013.zip

b'Skipping line 2560170: expected 35 fields, saw 43\n'
/home/fernando/miniconda3/envs/geoplot/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,19,20,21,22,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

IPTU_2004.zip

b'Skipping line 2325266: expected 35 fields, saw 43\n'

IPTU_2005.zip

b'Skipping line 2355090: expected 35 fields, saw 43\n'

IPTU_1995.zip
IPTU_1998.zip

b'Skipping line 2096075: expected 35 fields, saw 43\n'

IPTU_2018.zip
IPTU_2001.zip

b'Skipping line 2211865: expected 35 fields, saw 43\n'

IPTU_2017.zip
IPTU_2015.zip

b'Skipping line 2651001: expected 35 fields, saw 43\n'

IPTU_2006.zip

b'Skipping line 2381472: expected 35 fields, saw 43\n'

IPTU_2009.zip

b'Skipping line 2471701: expected 35 fields, saw 43\n'

IPTU_2014.zip

b'Skipping line 2606431: expected 35 fields, saw 43\n'

IPTU_2011.zip

b'Skipping line 2484471: expected 35 fields, saw 43\n'

IPTU_2000.zip

b'Skipping line 2156584: expected 35 fields, saw 43\n'

IPTU_2019.zip
IPTU_1997.zip
IPTU_2016.zip
IPTU_2002.zip

b'Skipping line 2247445: expected 35 fields, saw 43\n'

IPTU_1999.zip

b'Skipping line 2121196: expected 35 fields, saw 43\n'

IPTU_2020.zip
IPTU_2008.zip

b'Skipping line 2440049: expected 35 fields, saw 43\n'

IPTU_2003.zip

b'Skipping line 2288886: expected 35 fields, saw 43\n'

IPTU_2012.zip

b'Skipping line 2526350: expected 35 fields, saw 43\n'

In [19]:
df_densidades = \
pd.concat(densidades, axis=1).reindex(columns=sorted(pd.concat(densidades, axis=1).columns))

In [20]:
# Gerando GeoDataFrame
gdf_iptu_agg = gdf_quadras.merge(df_densidades, on='sq', how='right')

In [21]:
gdf_iptu_agg

,geometry,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
sq,,,,,,,,,,,,,,,,,,,,,
001003,"POLYGON ((333415.056 7396354.502, 333412.306 7...",1.746657,1.825448,1.823183,1.823183,1.821401,1.820947,1.820947,1.822204,1.822204,...,1.859504,1.859504,1.859504,1.859504,1.859504,1.859504,1.859504,1.859504,1.444593,1.389972
001004,"POLYGON ((333547.169 7396521.849, 333542.688 7...",1.454579,1.472500,1.525487,1.527181,1.527181,1.527181,1.527181,1.527859,1.549114,...,1.437703,1.441308,1.441308,1.457717,1.458210,1.458210,1.458210,1.459196,1.459196,1.459196
001005,"POLYGON ((333559.635 7396520.416, 333574.733 7...",1.528196,1.528196,1.715950,1.726499,1.726499,1.733355,1.733355,1.733355,1.733355,...,1.803353,1.803353,1.803353,1.803353,1.803353,1.803353,1.803353,1.820224,1.820224,1.820224
001006,"POLYGON ((333599.160 7396343.566, 333593.816 7...",1.835410,1.770236,2.229677,2.229677,2.229677,2.229677,2.237424,2.246110,2.246110,...,2.260875,2.260875,2.260875,2.260875,2.260875,2.225264,2.225264,2.225264,2.225264,2.225264
001007,"POLYGON ((333689.258 7396305.230, 333688.459 7...",1.534828,1.549435,1.600548,1.600548,1.600013,1.600013,1.600013,1.600013,1.616734,...,1.627460,1.627460,1.600173,1.741491,1.741491,1.741692,1.756012,1.756012,1.756012,1.756012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277055,"POLYGON ((323534.250 7363993.461, 323524.791 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.739081
300115,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
304156,"POLYGON ((335261.880 7398079.111, 335262.480 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.789173
006800,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235022,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
gdf_iptu_agg.to_file('resultados/densidade_construtiva/IPTU_quadras_densidade_construtiva.gpkg', driver='GPKG')